nav .brand-logo {
    color: var(--md-sys-color-primary);
    font-size: inherit;
}

nav #menu-icon {
    color: var(--md-sys-color-primary);
}

.breadcrumb:last-child {
    color: var(--md-sys-color-primary);
}

nav ul:not(.dropdown-content)>li>a {
    color: var(--md-sys-color-primary);
}

nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* Ensure it stays above other elements */
}

#nav-mobile {
    /* margin-top: var(--navbar-height); */
    z-index: 1000;
}

.footer-copyright {
    padding: 10px;
    border-top: 1px solid var(--md-sys-color-outline-variant);
}

#footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--md-sys-color-surface);
}

#panel-content {
    margin-top: var(--navbar-height);
    margin-bottom: 38px;
    z-index: 999;
}

#panel-middle {
    margin: auto 20px;
}

#panel-right {
    height: 100vh;
}

.collection {
    margin: .5rem 0 1rem 0;
    /* border: 1px solid #e4e9ed; */
    border-radius: 5px;
    overflow: hidden;
    position: relative
}

.collection .collection-item {
    background-color: transparent;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    /* border-bottom: 1px solid #e4e9ed;; */
    /* background-color: #ffffffe0; */
}

.collection.with-header .collection-header {
    padding: 10px 10px;
  }

/* Make the same margin to the middle panel h2 */
.sidebar {
    margin: 2.3733333333rem 0 1.424rem 0;
    overflow-y: auto;
    height: calc(100% - var(--navbar-height));
}

.sidebar ul {
    list-style: none;
    padding: 0 12px;
}

.sidebar ul>li {
    background-color: transparent;
    line-height: 1.5rem;
    padding: 10px 16px;
    margin: 0;
    /* border-bottom: 1px solid #e4e9ed; */
}

.sidebar a {
    color: inherit;
}

.badge.right {
    text-align: right;
    margin: auto;
}
