.fixed-width {
    display: inline-block;
    width: 5ch;
    text-align: right;
    margin-top: 0.2em;
}
.highlight {
    background-color: yellow;
}
.collection-list {
    list-style: bullet;
}
.collapsible-content {
    display: none; /* Hide content by default */
    margin-left: 1em;
}

.collapsible-heading {
    cursor: pointer;
    user-select: none;
}

.collapsible-heading::after {
    content: " ▼"; /* Down arrow */
    font-size: 0.8em;
}

.collapsible-heading.collapsed::after {
    content: " ▶"; /* Right arrow */
}

nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other elements */
}

body {
    padding-top: 64px; /* Add padding to prevent content from overlapping the navbar */
}
