{% extends "base.html" %}

{% block title %}About - Cloud Skills Boost Helper{% endblock %}

{% block content %}
<div class="container">
    <h2 class="blue-text text-darken-2">Cloud Skills Boost Helper</h2>
    <p>
        <strong>I</strong>s a tool designed to help learners and professionals enhance their cloud skills by providing curated paths, courses, and labs from Google Cloud Skills Boost. 
    </p>
    <p>
        This app is built with the aim of simplifying the learning process and making it easier to track your progress in mastering cloud technologies.
    </p>
    <p>
        Whether you're a beginner or an experienced cloud professional, this app provides a structured approach to learning and mastering Google Cloud technologies.
    </p>
    <p>
        The app is designed to be user-friendly and intuitive, allowing you to focus on learning rather than navigating complex interfaces.

    </p>
    <h4 class="blue-text text-darken-2">Purpose</h4>
    <p>
        The purpose of this app is to:
        <ol>
            <li>Provide easy access to Google Cloud learning resources.</li>
            <li>Organize paths, courses, and labs into a structured format.</li>
            <li>Track your progress and help you achieve your cloud learning goals.</li>
        </ol>
    </p>

    <h4 class="blue-text text-darken-2">Features</h4>
    <p>
        <ol>
            <li>Browse curated learning paths, courses, and labs.</li>
            <li>Search for specific topics or skills.</li>
            <li>Track your progress and revisit completed resources.</li>
        </ol>
    </p>

    <h4 class="blue-text text-darken-2">Contact Us</h4>
    <p>
        If you have any questions, feedback, or suggestions, feel free to reach out to us:
        <ol>
            <li>Email: <a href="mailto:xuansam@google.com">xuansam@google.com</a></li>
            <li>GitHub: <a href="https://github.com/sorry-not-available-yet" target="_blank">GitHub Repository</a></li>
        </ol>
    </p>
    <p>
        We appreciate your input and are always looking to improve our services.
    </p>

    <h4 class="blue-text text-darken-2">Acknowledgments</h4>
    <p>
        This app is powered by Google Cloud Skills Boost and utilizes Materialize CSS for its design. Special thanks to the open-source community for their contributions.
    </p>
</div>
{% endblock %}
