{% extends 'base.html' %}

{% block title %}Course Details: {{ course.name }}{% endblock %}

{% block content %}
    <h2 class="blue-text text-darken-2">{{ course.name }}</h2>
    <p>{{ course.description }}</p>
    <p><strong>Course ID:</strong> {{ course.id }}</p>
    <h3>Topics</h3>
    <ul class="collection">
        {% for topic in course.topics %}
        <li class="collection-item"> <a href="{{ url_for('topic', topic=topic) }}">{{ topic }}</a></li>
        {% endfor %}
    </ul>
    <h3>Objectives</h3>
    <ul class="collection">
        {% for objective in course.objectives %}
        <li class="collection-item">{{ objective }}</li>
        {% endfor %}
    </ul>
    <h3>Modules</h3>
    <ul class="collection">
        {% for module in course.modules %}
        <li class="collection-item">
            <strong>{{ module.title }}</strong>: {{ module.description }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}