{% extends 'base.html' %}

{% block title %}Course Details: {{ course.name }}{% endblock %}

{% block content %}
    <h2>{{ course.name }}</h2>
    <p>{{ course.description }}</p>
    <h3>Objectives</h3>
    <ul>
        {% for objective in course.objectives %}
        <li>{{ objective }}</li>
        {% endfor %}
    </ul>
    <h3>Modules</h3>
    <ul>
        {% for module in course.modules %}
        <li class="collection-item">
            <strong>{{ module.title }}</strong>: {{ module.description }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}