{% extends 'base.html' %}

{% block title %}Lab Details: {{ lab.name }}{% endblock %}

{% block content %}
<ul id="slide-out" class="sidenav sidenav-fixed">    
    {% for lab_id, lab_name in labs.items() %}
    <li class="topic-item"><a href="{{ url_for('lab', lab_id=lab_id) }}">{{ lab_name }}</a></li>
    {% endfor %}
</ul>
    <h2 class="blue-text text-darken-2">
        {{ lab.name }}
        <!-- Display the Lab ID to the right -->
        <span class="id-num right">
            <a href="{{ BASE_URL_LAB }}/{{ lab.id }}" target="_blank" rel="noopener noreferrer">{{ lab.id }}</a>
        </span>
    </h2>
    <p>{{ lab.description }}</p>
    <h3>Steps</h3>
    <ul>
        {% for step in lab.steps %}
        <li class="collection-item">{{ step.description }}</li>
        {% endfor %}
    </ul>
{% endblock %}