{% extends 'base.html' %}

{% block title %}Path Details: {{ path.name }}{% endblock %}

{% block content %}
    <h2 class="blue-text text-darken-2">{{ path.name }}</h2>
    <p>{{ path.description }}</p>
    <h3>Courses & Progress</h3>
    <ul class="collection">
        {% for course_id, course_data in path.courses.items() %}
        <li class="collection-item">
            <label>
                <input type="checkbox" {% if course_id in completed_courses %}checked{% endif %} disabled>
                <span>
                    <button class="btn-small blue lighten-1 waves-effect waves-light">
                        <a href="{{ BASE_URL_COURSES }}/{{ course_id }}" target="_blank" rel="noopener noreferrer">{{ course_id }}</a>
                    </button>
                    <a href="{{ url_for('course_details', course_id=course_id) }}">{{ course_data.name }}</a>
                </span>
            </label>
        </li>
        {% endfor %}
    </ul>
{% endblock %}