{% extends "base.html" %}

{% block title %}About - Cloud Skills Boost Helper{% endblock %}

{% block content %}

<!-- The main container -->
<div id="panel-content" class="row main-content">

    <!-- The left sidebar -->
    <div id="panel-left"
        class="col s0 m0 l0 xl0 hide-on-med-and-down hide-on-large-only hide-on-extra-large-only sidebar grey-text lighten-4">
    </div>

    <!-- The main content container -->
    <div id="panel-middle" class="col s12 m10 l8 xl6 offset-m1 offset-l2 offset-xl3">
        <h2>Cloud Skills Boost Helper</h2>
        <blockquote>
            <p>
                <strong>I</strong>s a tool designed to help learners and professionals enhance their cloud skills by
                providing curated paths, courses, and labs from Google Cloud Skills Boost.
            </p>
            <p>
                This app is built with the aim of simplifying the learning process and making it easier to track
                your progress in mastering cloud technologies.
            </p>
            <p>
                Whether you're a beginner or an experienced cloud professional, this app provides a structured
                approach to learning and mastering Google Cloud technologies.
            </p>
            <p>
                The app is designed to be user-friendly and intuitive, allowing you to focus on learning rather than
                navigating complex interfaces.

            </p>
        </blockquote>
        <h4>Purpose</h4>
        <p>
        <ol class="collection">
            <li class="collection-item">Provide easy access to Google Cloud learning resources.</li>
            <li class="collection-item">Organize paths, courses, and labs into a structured format.</li>
            <li class="collection-item">Track your progress and help you achieve your cloud learning goals.</li>
        </ol>
        </p>

        <h4>Features</h4>
        <p>
        <ol class="collection">
            <li class="collection-item">Browse curated learning paths, courses, and labs.</li>
            <li class="collection-item">Search for specific topics or skills.</li>
            <li class="collection-item">Track your progress and revisit completed resources.</li>
        </ol>
        </p>

        <h4>Contact Us</h4>
        <p>
            If you have any questions, feedback, or suggestions, feel free to reach out to us:
        <ol class="collection">
            <li class="collection-item">Email: <a href="mailto:xuansam@google.com">xuansam@google.com</a></li>
            <li class="collection-item">GitHub: <a href="https://github.com/sorry-not-available-yet"
                    target="_blank">GitHub Repository</a></li>
        </ol>
        </p>
        <p>
            We appreciate your input and are always looking to improve our services.
        </p>

        <h4>Acknowledgments</h4>
        <p>
            This app is powered by Google Cloud Skills Boost and utilizes Materialize CSS for its design. Special
            thanks to the open-source community for their contributions.
        </p>
    </div>

    <!-- The right sidebar -->
    <div id="panel-right"
        class="col s0 m0 l0 xl0 hide-on-med-and-down hide-on-large-only hide-on-extra-large-only sidebar grey-text lighten-4">
    </div>
</div>

{% endblock %}
