{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}

<!-- The main content -->
<div id="panel-content" class="row main-content">

    <!-- The left sidebar -->
    <div id="panel-left" class="col s0 m0 l0 xl0 hide-on-med-and-down hide-on-large-only hide-on-extra-large-only sidebar grey-text lighten-4">
        <div class="input-field inline">
            <input id="filter_item" type="text" class="validate" placeholder=" ">
            <label for="filter_item">Filter by Course</label>
        </div>
        <ul>
            {% for course_id, course_name in courses.items() %}
            <li class="topic-item"><a href="{{ url_for('course', course_id=course_id) }}">{{ course_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- The main content container -->
    <div id="panel-middle" class="col s12 m10 l8 xl6 offset-m1 offset-l2 offset-xl3">
        <h2 id="courses">Courses</h2>
        <ul class="collection">
            {% for course_id, course_name in courses.items() %}
            <li class="collection-item">
                <label>
                    <input type="checkbox" checked="{% if course_id in completed_courses %}checked{% endif %}" />
                    <span>
                        <a href="{{ url_for('course', course_id=course_id) }}">{{ course_name }}</a>
                    </span>
                    <span class="badge right">
                        <a href="{{ BASE_URL_COURSES }}/{{ course_id }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="blue-grey-text lighten-2">{{ course_id }}</a>
                    </span>
                    <span class="badge right hide-on-med-and-down grey-text lighten-4">Course</span>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- The right sidebar -->
    <div id="panel-right" class="col s0 m0 l2 xl2 offset-xl10 hide-on-med-and-down sidebar grey-text lighten-4">
        <div class="input-field inline">
            <input id="filter_topic" type="text" class="validate" placeholder=" ">
            <label for="filter_topic">Filter by Topic</label>
        </div>
        <ul>
            {% for topic in topics %}
            <li class="topic-item"><a href="{{ url_for('topic', topic=topic) }}">{{ topic }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}
