{% extends 'base.html' %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}

<!-- The main content -->
<div class="row main-content">

    <!-- The left sidebar -->
    <!-- Make text on the sidebar dimmer not too contest user's attention with the main content -->
    <div class="col s12 m4 l2 hide-on-med-and-down sidebar grey-text lighten-4">
        <div class="input-field inline">
            <input id="filter_item" type="text" class="validate" placeholder=" ">
            <label for="filter_item">Filter by Course</label>
        </div>
        <ul>
            {% for course_id, course_name in courses.items() %}
            <li class="topic-item"><a href="{{ url_for('course', course_id=course_id) }}">{{ course_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- The main content container -->
    <div class="col s12 m12 l8 container">
        <!-- Main content -->
        <h2>
            {{ course.name }}
            <!-- Display the course ID to the right -->
            <span class="id-num right"><a href="{{ BASE_URL_COURSES }}/{{ course.id }}" target="_blank"
                    rel="noopener noreferrer">{{ course.id }}</a></span>
        </h2>
        <!-- Display the date published of the item -->
        <!-- <ul>
    <li class="right"><span class="badge">datePublished: {{ course.datePublished }}</span></li>
</ul> -->
        <blockquote>
            <p>{{ course.description }}</p>
        </blockquote>

        {% if course.topics %}
        <h5>Topics</h5>

        <ol class="collection">
            {% for topic in course.topics %}
            <li class="collection-item"> <a href="{{ url_for('topic', topic=topic) }}">{{ topic }}</a></li>
            {% endfor %}
        </ol>
        {% endif %}

        {% if course.objectives %}
        <h5>Objectives</h5>

        <ol class="collection">
            {% for objective in course.objectives %}
            <li class="collection-item">{{ objective }}</li>
            {% endfor %}
        </ol>
        {% endif %}

        <!-- <h3>Modules</h3> -->
        {% for module in course.modules %}

        <h4 id="{{ module.id }}">{{ module.title }}</h4>

        {% if module.description is not none %}
        <blockquote>
            <p>{{ module.description }}</p>
        </blockquote>
        {% endif %}

        <ol class="collection">
            {% for step in module.steps %}
            {% for activity in step.activities %}
            <li id="{{ activity.id }}" class="collection-item">
                <!-- <i class="material-icons left waves-effect waves-light">cloud</i> -->
                <strong>{{ activity.title }}</strong>
                <span class="badge"><a href="{{ BASE_URL }}/{{ activity.href }}" target="_blank" rel="noopener noreferrer">{{ activity.type }}</a></span>
            </li>
            {% endfor %}
            {% endfor %}
        </ol>
        {% endfor %}
    </div>

    <!-- The right sidebar -->
    <div class="col s12 m4 l2 hide-on-med-and-down sidebar grey-text lighten-4">
        <h5 class="center">Table of Contents</h5>
        {% for module in course.modules %}
        <ul class="collection with-header">
            <li class="collection-header"><a href="#{{ module.id }}"><strong>{{ module.title }}</strong></a></li>
            {% for step in module.steps %}
            {% for activity in step.activities %}
            <li class="topic-item"><a href="#{{ activity.id }}">{{ activity.title }}</a></li>
            {% endfor %}
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

</div>

{% endblock %}
