{% extends 'base.html' %}

{% block title %}Lab Details: {{ lab.name }}{% endblock %}

{% block content %}

<!-- The main content -->
<div id="panel-content" class="row main-content">

    <!-- The left sidebar -->
    <div class="col s0 m0 l2 xl3 hide-on-med-and-down sidebar grey-text lighten-4">
        <div class="input-field inline">
            <input id="filter_item" type="text" class="validate" placeholder=" ">
            <label for="filter_item">Filter by Labs</label>
        </div>
        <ul>
            {% for lab_id, lab_name in labs.items() %}
            <li class="topic-item"><a href="{{ url_for('lab', lab_id=lab_id) }}">{{ lab_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- The main content container -->
    <div id="panel-middle" class="col s12 m12 l8 xl6 offset-m1 offset-l2 offset-xl3">
        <h2>
            {{ lab.name }}
            <!-- Display the Lab ID to the right -->
            <span class="id-num right">
                <a href="{{ BASE_URL_LAB }}/{{ lab.id }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="blue-grey-text lighten-2"
                    >{{ lab.id }}</a>
            </span>
        </h2>
        <blockquote>
            <p>{{ lab.description }}</p>
        </blockquote>
        {% for step_id, step_title in lab.steps.items() %}
        <h3>{{ step_title }}</h3>
        {% endfor %}
    </div>

    <!-- The right sidebar -->
    <div id="panel-right" class="col s0 m0 l2 xl3 hide-on-med-and-down sidebar grey-text lighten-4">
        <div class="input-field inline">
            <input id="filter_topic" type="text" class="validate" placeholder=" ">
            <label for="filter_topic">Filter by Topic</label>
        </div>
        <ul>
            {% for topic in topics %}
            <li class="topic-item"><a href="{{ url_for('topic', topic=topic) }}">{{ topic }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}
