{% extends 'base.html' %}

{% block title %}Labs{% endblock %}

{% block content %}

<!-- The main content -->
<div class="row main-content">

    <!-- The left sidebar -->
    <div class="col s12 m4 l2 hide-on-med-and-down sidebar">
        <div class="input-field inline">
            <input id="filter_item" type="text" class="validate" placeholder=" ">
            <label for="filter_item">Filter by Labs</label>
        </div>
        <ul>
            {% for lab_id, lab_name in labs.items() %}
            <li class="topic-item"><a href="{{ url_for('lab', lab_id=lab_id) }}">{{ lab_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- The main content container -->
    <div class="col s12 m12 l8 container">
        <h2 id="courses">Labs</h2>
        <ul class="collection">
            {% for lab_id, lab_name in labs.items() %}
            <li class="collection-item">
                <label>
                    <input type="checkbox" checked="{% if course_id in completed_courses %}checked{% endif %}" />
                    <span>
                        <a href="{{ url_for('lab', lab_id=lab_id) }}">{{ lab_name }}</a>
                    </span>
                    <span class="badge right">{{ lab_id }}</span>
                    <span class="badge right">Lab</span>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- The right sidebar -->
    <div class="col s12 m4 l2 hide-on-med-and-down sidebar">
        <div class="input-field inline">
            <input id="filter_topic" type="text" class="validate" placeholder=" ">
            <label for="filter_topic">Filter by Topic</label>
        </div>
        <ul>
            {% for topic in topics %}
            <li class="topic-item"><a href="{{ url_for('topic', topic=topic) }}">{{ topic }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}
