<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="blue row s12">
        <div class="nav-wrapper col s12 grey-text">
            <a href="/" class="breadcrumb"><i class="material-icons">school</i><span> </span>CSB Helper</a>
            <!-- <a href="/" class="breadcrumb">CSB Helper</a> -->
            {% for segment in breadcrumbs %}
            <a href="{{ segment.url }}" class="breadcrumb">{{ segment.name }}</a>
            {% endfor %}
        </div>
    </nav>
    <div class="row orange">
        <div class="col s12"><p>s12</p></div>
        <div class="col s12 m4 l2"><p>s12 m4</p></div>
        <div class="col s12 m4 l8"><p>s12 m4</p></div>
        <div class="col s12 m4 l2"><p>s12 m4</p></div>
      </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
</body>

</html>