<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"
        media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-- Navigation Bar -->
    <nav role="navigation" class="blue darken-4 fixed">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo white-text">
                <i class="material-icons">school</i> CBSHelper
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">
                        <i class="material-icons">search</i>
                    </a>
                </li>
                <li><a href="#">Paths</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Labs</a></li>
                <li><a href="#">About</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Paths</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Labs</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                <i class="material-icons menu white-text">menu</i>
            </a>
        </div>
    </nav>

    <div class="row grey lighten-3 main-content black-text">
        <div class="col s12 m4 l2 hide-on-med-and-down sidebar">
            <ul>
                {% for topic in topics %}
                <li class="topic-item"><a href="{{ url_for('topic', topic=topic) }}">{{ topic }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12 m12 l8 container">
            <h2 id="paths">Your Recent Touches</h2>
            <h3>Paths</h3>
            <ul class="collection">
                {% for path_id, path_name in paths.items() %}
                <li class="collection-item">
                    <label>
                        <input type="checkbox" checked="{% if path_id in completed_paths %}checked{% endif %}" />
                        <span>
                        <a href="{{ url_for('path', path_id=path_id) }}">{{ path_name }}</a>
                    </span>
                    <span class="badge right">{{ path_id }}</span>
                    <span class="badge right">Path</span>
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12 m4 l2 hide-on-med-and-down sidebar">
            <div class="input-field inline">
                <input id="email_inline" type="email" class="validate" placeholder=" ">
                <label for="email_inline">Filter by Topic</label>
                <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>
            <ul>
                {% for topic in topics %}
                <li class="topic-item"><a href="{{ url_for('topic', topic=topic) }}">{{ topic }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Main Content -->
    <div>
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="blue darken-4 footer-copyright fixed">
        <div class="container">
            Free of use, no guarantee.
            <span class="right">Feel free to contribute.</span>
        </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script>
        M.AutoInit();
    </script>
</body>

</html>