<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cloud Skills Boost Helper{% endblock %}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"
        media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <!-- Navigation Bar -->
    <nav role="navigation" class="breadcrumb-wrapper fixed">
        <div class="nav-wrapper container">
            <div class="brand-logo">
                <a href="/" class="breadcrumb">
                    <i class="material-icons">school</i> CBS Helper
                </a>
                {% for segment in breadcrumbs %}
                <a href="{{ segment.url }}" class="breadcrumb">{{ segment.name }}</a>
                {% endfor %}
            </div>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">
                        <i class="material-icons">search</i>
                    </a>
                </li>
                <li><a href="{{ url_for('paths') }}">Paths</a></li>
                <li><a href="{{ url_for('courses') }}">Courses</a></li>
                <li><a href="{{ url_for('labs') }}">Labs</a></li>
                <li><a href="{{ url_for('topics') }}">Topics</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li>
                    <a id="theme-switch" href="#" title="Switch to dark mode" tabindex="0">
                        <i class="material-icons">dark_mode</i>
                    </a>
                </li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="{{ url_for('paths') }}">Paths</a></li>
                <li><a href="{{ url_for('courses') }}">Courses</a></li>
                <li><a href="{{ url_for('labs') }}">Labs</a></li>
                <li><a href="{{ url_for('topics') }}">Topics</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                <i class="material-icons menu">menu</i>
            </a>
        </div>
    </nav>

    <!-- The main container -->
    <div id="panel-content" class="row main-content">

        <!-- The left sidebar -->
        <div id="panel-left" class="col s12 m4 l2 hide-on-med-and-down sidebar">
            <div class="input-field inline">
                <input id="filter_item" type="text" class="validate" placeholder=" ">
                <label for="filter_item">Filter by Paths</label>
            </div>
            <ul>
                {% for topic in topics %}
                <li class="topic-item"><a href="{{ url_for('topic', topic=topic) }}">{{ topic }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- The main content container -->
        <div id="panel-middle" class="col s12 m12 l8 container">
            <h2 id="paths">Recent Touches</h2>
            <ul class="collection">
                {% for path_id, path_name in paths.items() %}
                <li class="collection-item">
                    <label>
                        <input type="checkbox" checked="{% if path_id in completed_paths %}checked{% endif %}" />
                        <span>
                            <a href="{{ url_for('path', path_id=path_id) }}">{{ path_name }}</a>
                        </span>
                        <span class="badge right">{{ path_id }}</span>
                        <span class="badge right">Path</span>
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- The right sidebar -->
        <div id="panel-right" class="col s12 m4 l2 sidebar">
            <div class="input-field inline">
                <input id="filter_topic" type="text" class="validate" placeholder=" ">
                <label for="filter_topic">Filter by Topic</label>
            </div>
            <ul>
                {% for topic in topics %}
                <li class="topic-item"><a href="{{ url_for('topic', topic=topic) }}">{{ topic }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <!-- Footer -->
    <footer class="footer-copyright fixed">
        <div class="container">
            Free of use, no guarantee.
            <span class="right">Feel free to contribute.</span>
        </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script>
        M.AutoInit();
    </script>

    <script defer>
        // Change Theme Setting with a Switch
        function getTheme() {
            const isDarkModeEnabledViaCss = window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches;
            const currentTheme = localStorage.getItem('theme');
            const isDark = currentTheme ? currentTheme === 'dark' : isDarkModeEnabledViaCss;
            return isDark;
        }

        function setTheme(enableDark) {
            document.documentElement.setAttribute('theme', enableDark ? 'dark' : 'light');
            localStorage.setItem('theme', enableDark ? 'dark' : 'light');
        }

        function updateDarkModeButtonState(isCurrentlyDarkModeEnabled) {
            const element = document.querySelector('#theme-switch');
            element.classList.remove('is-dark');
            if (isCurrentlyDarkModeEnabled) element.classList.add('is-dark');
            element.querySelector('i').innerText = isCurrentlyDarkModeEnabled ? 'light_mode' : 'dark_mode';
            element.title = 'Switch to ' + (isCurrentlyDarkModeEnabled ? 'light' : 'dark') + ' mode';
        }

        // Init Theme and Button
        const darkModeButton = document.querySelector('#theme-switch');
        darkModeButton.addEventListener('click', (e) => {
            e.preventDefault();
            const nextState = !getTheme(); // toggle
            setTheme(nextState);
            updateDarkModeButtonState(nextState);
        });
        const currentState = getTheme();
        setTheme(currentState);
        updateDarkModeButtonState(currentState);
    </script>

</body>

</html>