<h2 id="paths">Recent Touches</h2>
<ul class="collection">
    {% for path_id, path_name in paths.items() %}
    <li class="collection-item">
        <label>
            <input type="checkbox" checked="{% if path_id in completed_paths %}checked{% endif %}" />
            <span>
                <a href="{{ url_for('path', path_id=path_id) }}">{{ path_name }}</a>
            </span>
            <span class="badge right">{{ path_id }}</span>
            <span class="badge right">Path</span>
        </label>
    </li>
    {% endfor %}
</ul>
