{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}

<!-- The main container -->
<div id="panel-content" class="row main-content">

    <!-- The left sidebar -->
    <div id="panel-left"
        class="col s0 m0 l0 xl0 hide-on-med-and-down hide-on-large-only hide-on-extra-large-only sidebar grey-text lighten-4">
    </div>

    <!-- The main content container -->
    <div id="panel-middle" class="col s12 m10 l8 xl6 offset-m1 offset-l2 offset-xl3">
        <h2>
            <span>Search</span>
        </h2>
        <div class="input-field inline">
            <input id="search_field" type="text" class="validate" placeholder=" ">
            <label for="search_field">Search for</label>
        </div>
        <ul class="collection search-result">
            <!-- Search results will be displayed here -->
        </ul>
    </div>

    <!-- The right sidebar -->
    <div id="panel-right"
        class="col s0 m0 l0 xl0 hide-on-med-and-down hide-on-large-only hide-on-extra-large-only sidebar grey-text lighten-4">
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchField = document.getElementById('search_field');
        const searchResultList = document.querySelector('.search-result');

        searchField.addEventListener('input', function () {
            const query = this.value.trim();
            if (query.length < 2) {
                searchResultList.innerHTML = ''; // Clear results if query is too short
                return;
            }

            fetch(`/search_for?q=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    searchResultList.innerHTML = ''; // Clear previous results

                    if (data.length === 0) {
                        const noResult = document.createElement('li');
                        noResult.classList.add('collection-item');
                        noResult.textContent = 'No results found.';
                        searchResultList.appendChild(noResult);
                    } else {
                        data.forEach(item => {
                            // Create a list item for each search result
                            const listItem = document.createElement('li');
                            listItem.classList.add('collection-item');
                            const link = document.createElement('a');
                            link.href = item.url;
                            link.textContent = item.name;
                            listItem.appendChild(link);

                            //Badge to display the item id
                            const badge2 = document.createElement('span');
                            badge2.classList.add('badge', 'right');
                            badge2.textContent = item.id;
                            listItem.appendChild(badge2);
                            searchResultList.appendChild(listItem);

                            // Badge to display the item type
                            const badge = document.createElement('span');
                            badge.classList.add('badge', 'right');
                            badge.textContent = item.type;
                            listItem.appendChild(badge);
                            searchResultList.appendChild(listItem);

                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>
{% endblock %}
